<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Contact No</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.contact %></td>
        <td><%= submission.created_at.in_time_zone('Asia/Kolkata').strftime("%d/%m/%y - %I:%M %p") %></td>
        <td><%= link_to 'Show', form_submission_path(@form, submission), remote: true %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
<%= will_paginate @submissions %>
</div>
<br>
<%= link_to 'Back', forms_path, :class => "btn btn-primary" %>
<br>
<br>
<div id="answer-form" class="card card-body bg-light" style="display:none;">
</div>


