<div class="container">
  <div class="row justify-content-center" >
    <div class="col">
      <div class="card border-primary rounded-0">
        
        <div class="card-header p-0">
          <div class="bg-primary text-white text-center py-2">
            <h3>Fill the form</h3>
            <p class="m-0">We value your feeback.</p>
          </div>
        </div>

        <div class="card-body p-3 col-xs-12">

          <%= form_for [@form, @submission] do |f| %>
            <%= f.hidden_field :contact, value: params[:contact] %>
              <% @qst.each do |a| %>
                <%= f.fields_for :answers do |ff|  %>

                  <div class="card-text question-css">
                    <%= ff.hidden_field :question_id, value: a.id %>
                    <%= a.question_text %>
                  </div>
                  

                  <div class="form-check ">
                    <%= ff.radio_button :answer_text, 'good', class: 'form-check-input' %>
                    <%= ff.label :answer_text, 'Good' , class: 'form-check-label' %>
                    <%= image_tag "happy.png" ,:height=>'23px',:width=>'23px' %>
                  </div>

                  <div class="form-check">
                    <%= ff.radio_button :answer_text, 'bad', class: 'form-check-input' %>
                    <%= ff.label :answer_text, 'Bad', class: 'form-check-label'  %>
                    <%= image_tag "sad.png" ,:height=>'23px',:width=>'23px' %>
                  </div>
                  
              <% end %>
            <% end %>    
            <br>
            <div class="form-group">
              <%= f.submit "Submit", class: 'btn btn-primary' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>








