<h1>New Submission</h1>

<%= form_for [@form, @submission] do |f| %>
  <%= f.hidden_field :contact, value: params[:contact] %>
    <% @qst.each do |a| %>
      <%= f.fields_for :answers do |ff|  %>
        <%= ff.hidden_field :question_id, value: a.id %>        
        <%= a.question_text %>
        </br>
        <%= ff.radio_button :answer_text, 'good' %>
        <%= ff.label :answer_text, 'Good' %>
        <%= image_tag "smi1.png" ,:height=>'25px',:width=>'25px' %>

        <%= ff.radio_button :answer_text, 'bad' %>
        <%= ff.label :answer_text, 'Bad' %>
        </br>
        
    <% end %>
  <% end %>    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Back', form_submissions_path %>

