<div class="main-wrapper">
  <div class="fbHeader">
      <h4>Your feedback matters!</h2>
  </div>
  <div class="container sub-container">
    <div class="row" >
      <div class="col col-lg">                
        <%= form_for [@form, @submission] do |f| %>
          <%= f.hidden_field :contact, value: params[:contact] %>
            <% @qst.each do |a| %>
              <%= f.fields_for :answers do |ff|  %>

                <div class="question-css">
                  <%= ff.hidden_field :question_id, value: a.id %>
                  
                  <%= a.question_text %>
                </div>

                
                  <% if a.question_type == "Rating" %>
                    <%= ff.hidden_field :answer_text, class: 'rating' %>                    
                  <% end %>
                
                            
                <% if a.question_type == "Text" %>                
                  <%= ff.text_area :answer_text, class: 'col-md-6 col form-control subform-textbox-css' %>
                <% end %>

                <% if a.question_type == "MCQ" %>
                  <% ary = a.option %>
                  <% ary.each do |x| %>
                    <% unless x.blank? %>
                      <ul class="donate-now">
                        <li>
                          <%= ff.radio_button :answer_text, x, class: 'form-check-input' %>
                          <%= ff.label :answer_text, x , class: 'form-check-label btn',  value: x %>
                        </li>                                
                      </ul>
                    <% end %>
                  <% end %>
                <% end %>

                    
                                                                                                                         
            <% end %>
          <% end %>    
          <br>
          <br>           
          <div class="form-group fbButton">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        <% end %>      
      </div>
    </div>  
    <hr />
  </div>
</div>











