<div class="main-wrapper">
  <div class="fbHeader">
      <h4>Your feedback matters!</h2>
  </div>
  <div class="container sub-container">
    <div class="row" >
      <div class="col col-lg">                
        <%= form_for [@form, @submission] do |f| %>
          <%= f.hidden_field :contact, value: params[:contact] %>
            <% @qst.each do |a| %>
              <%= f.fields_for :answers do |ff|  %>

                <div class="question-css">
                  <%= ff.hidden_field :question_id, value: a.id %>
                  <%= a.question_text %>
                </div>
                                  
                <ul class="donate-now">
                  <li>
                    <%= ff.radio_button :answer_text, 'Good', class: 'form-check-input' %>
                    <%= ff.label :answer_text, a.option.first , class: 'form-check-label btn',  value: a.option.first %>
                  </li>              
                  <li>
                    <%= ff.radio_button :answer_text, 'Neutral', class: 'form-check-input' %>
                    <%= ff.label :answer_text, a.option[1] , class: 'form-check-label btn',  value: a.option[1] %>
                  </li>
                  <li>
                    <%= ff.radio_button :answer_text, 'Bad', class: 'form-check-input' %>
                    <%= ff.label :answer_text, 'Bad' , class: 'form-check-label btn',  value: "Bad" %>
                  </li>
                </ul>
                                  
            <% end %>
          <% end %>    
          <br>
          <br>           
          <div class="form-group fbButton">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        <% end %>      
      </div>
    </div>  
    <hr />
  </div>
</div>











