<div class="container">
  <div class="contentContainer">
    <div class="row">
      <div class="col">
        <h1>Forms</h1>

        <table class="table table-bordered table-hover table-responsive w-100 d-block d-md-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Message</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @forms.each do |form| %>
              <tr>
                <td><%= form.name %></td>
                <td><%= form.message %></td>
                <td><%= link_to 'Show', form, class: "btn btn-primary" %></td>
                <td><%= link_to 'Edit', edit_form_path(form), class: "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "edit-form" %></td>
                <td><%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <td><%= link_to 'View Response', form_submissions_path(form), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Form', new_form_path, :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal" %>

        <div id="my-modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
        <div id="edit-form" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

      </div>
    </div>
  </div>
</div>

